swiper-container {
  height: 100%;
  --bullet-background-active: pink;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.slide-content {
  max-width: 80%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slide-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.slide-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: slideInLeft 1s ease-in-out;
}

.slide-description {
  font-size: 16px;
  animation: slideInRight 1s ease-in-out;
}

/* Contenedor del botón "Regresar" */
.regresar-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* Asegura que el botón esté por encima del slider */
}

/* Estilos para el botón "Regresar" */
.regresar-button {
  --background: #3880ff;
  /* Color de fondo del botón */
  --color: white;
  /* Color del texto del botón */
  --border-radius: 20px;
  /* Bordes redondeados */
  --padding-start: 30px;
  --padding-end: 30px;
  animation: fadeIn 1s ease-in-out;
  /* Animación de entrada */
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}