<app-navbar></app-navbar>

<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-4 mt-2">Perfil del Usuario</h2>

        <!-- Mensaje de carga con animación -->
        <div *ngIf="cargando" class="alert alert-info text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
            <p class="mt-2">Cargando información del usuario...</p>
        </div>

        <!-- Tarjeta del perfil -->
        <div *ngIf="!cargando && usuario" class="card profile-card shadow-lg mt-4">
            <div class="card-body text-center">
                <!-- Imagen de perfil -->
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="profile-img mb-3" alt="Usuario">

                <!-- Datos del usuario -->
                <h5 class="card-title text-primary">{{ usuario.name }}</h5>
                <p class="card-text"><strong>Email:</strong> {{ usuario.email }}</p>
                <p class="card-text"><strong>Teléfono:</strong> {{ usuario.phone }}</p>
                <p class="card-text"><strong>Dirección:</strong> {{ usuario.address.street }}, {{ usuario.address.city
                    }}</p>
                <p class="card-text"><strong>Fecha de nacimiento:</strong> 06/07/2000</p>
            </div>
        </div>
    </div>
</div>