<app-header titulo="card"></app-header>


<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate qui voluptatem explicabo iure, ducimus fugiat hic facere molestias laboriosam reprehenderit nihil eius perspiciatis pariatur adipisci incidunt magnam. Iusto, beatae! Quaerat.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://img.freepik.com/foto-gratis/mar-tropical-hermoso-mar-playa-cielo-azul-nube-blanca-copyspace_74190-8663.jpg">
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate qui voluptatem explicabo iure, ducimus fugiat hic facere molestias laboriosam reprehenderit nihil eius perspiciatis pariatur adipisci incidunt magnam. Iusto, beatae! Quaerat.
    </ion-card-content>
  </ion-card>
</ion-content>
